<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a:hover span {
            border-bottom: 1px solid #3FB9AE;
        }
    </style>
</head>
<body>
<center>
    <table class="rectangle" cellspacing="0" cellpadding="0" border="0" style="background-color:white; padding: 30px; border-radius: 5px; text-align: center; font-family: Arial, sans-serif; font-size: 24px; color: white; width: 100%; margin: auto;">
        <tr>
            <td>
                <img class="header" src="https://medicapp-bucket.s3.sa-east-1.amazonaws.com/default_images/murphy.png" alt="Logo" style="width: auto; height:90px; object-fit: contain; display: block; margin: auto;" />
                <div class="container_content" style="height:auto; width: 80%; padding: 20px; background: rgba(63, 	185, 174, 0.1); margin: 20px auto;">
                    <h3 style="color:#3FB9AE;">Server Murphy Active!</h3>
                    <p style="color:#3FB9AE; font-size: small;"> Server is running if you can see this home template</p>
                </div>
                <p style="font-size: 20px; color:#3FB9AE;">Keep in contact in our social platforms</p>
                <table class="Links" cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                    <tr>
                        <td align="center" style="padding: 0 10px;">
                            <a href="https://www.facebook.com/labuaelanorma" target="_blank">
                                <img src="https://medicapp-bucket.s3.sa-east-1.amazonaws.com/default_images/facebook192.png" alt="Facebook Icon" style="width: 30px; height:30px; object-fit: contain;" />
                            </a>
                        </td>
                        <td align="center" style="padding: 0 10px;">
                            <a href="https://www.instagram.com/labuelanorma/" target="_blank">
                                <img src="https://medicapp-bucket.s3.sa-east-1.amazonaws.com/default_images/instagram192.png" alt="Instagram Icon" style="width: 30px; height:30px; object-fit: contain;" />
                            </a>
                        </td>
                        <td align="center" style="padding: 0 10px;">
                            <a href="https://www.youtube.com/@LaabuelaNorma" target="_blank">
                                <img src="https://medicapp-bucket.s3.sa-east-1.amazonaws.com/default_images/tiktok192.png" alt="Youtube Icon" style="width: 30px; height:30px; object-fit: contain;" />
                            </a>
                        </td>
                        <td align="center" style="padding: 0 10px;">
                            <a href="https://www.tiktok.com/@zullyzoum" target="_blank">
                                <img src="https://medicapp-bucket.s3.sa-east-1.amazonaws.com/default_images/linkedin192.png" alt="Tik tok" style="width: 30px; height:30px; object-fit: contain;" />
                            </a>
                        </td>
                    </tr>
                </table>
                <h6 class="footer" style="text-align: center;color:#3FB9AE;">Murphy All Rights Reserved &copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">current-year</span></h6>
            </td>
        </tr>
    </table>
</center>
</body>
</html>
